body {
}

.titlebar {
font-family: Helvetica, Verdana, Arial, sans-serif;
clear: both;
margin-bottom: 8px;
background-color: #a9c95d;
width: 850px;
padding: 10px;
font-size: 1.2em;
border: 2px solid #5c7c11;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
cursor: pointer;
}

.even {
background-color: #d1e176;
}

.titlebar:hover {

background-color: #f8faa6;

-webkit-box-shadow: 0px 3px 5px #c2c2c2;
-moz-box-shadow: 0px 3px 5px #c2c2c2;
}

.titlebar.even:hover {
	background-color: #f6f9a5;
}

li {
clear: all;
	list-style-type: none;
}

.dashboard {
font-family: Helvetica, Verdana, Arial, sans-serif;
padding-left: 10px;
padding-right: 10px;
display: none;
	margin-bottom: 30px;
	overflow: hidden;
}

.dashboard #leftside img {
margin-bottom: 10px;
border: 2px solid black;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
}

.dashboard #leftside {
margin-left: 10px;
width: 220px;
float: left;
}

.dashboard #leftside img:hover {
opacity: .8;
}

.dashboard iframe {
float: right;
}

.bottomshadow {
-webkit-box-shadow: 0px 3px 5px #c2c2c2;
-moz-box-shadow: 0px 3px 5px #c2c2c2;
-margin-bottom: 15px;
}

.cash {
font-weight: bold;
}

ul {
padding: 0;
margin: 0;
}


h1 {
	font-size: 2.2em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

h1 span {
font-weight: normal;
}

#social {
margin-left: 20px;
float: right;
}

p.description {
font-family: Georgia, "Times New Roman", Times, serif;
width: 800px;
font-size: 1.2em;
margin-left: 5px;
line-height: 1.4em;
}

p.description a {
color: black;
text-decoration: none;
background-color: #fffcc4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

p.description a:hover {
	background-color: #ffe69c;
}

p {
margin-top: 0px;
}

#nav {
font-size: 1.3em;
margin-top: 30px;
margin-bottom: 20px;
/* background-color: #feffda;
padding: 15px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border: 1px solid brown;*/
height: 50px;
}

#searchbox {
display: inline;
font-size: 1.1em;
margin-right: 25px;
float: left;
margin-top: 5px;
display: none;
}

#search {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.1em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

#show, #allclick, #frontclick, #hide {
font-size: 1.1em;
display: inline;
font-style: normal;
font-weight: normal;
font-family: Helvetica, Verdana, Arial, sans-serif;
border-color: #562307;
border-style: solid;
border-width: 3px;
padding: 8px;
background-color: #cb9f49;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
cursor: pointer;
margin-right: 10px;
float: left;
}

#allclick, #frontclick {
width: 250px;
text-align: center;
}

#show, #hide {
width: 100px;
text-align: center;
}


#show:hover, #allclick:hover, #frontclick:hover, #hide:hover {
background-color: #ffec94;
}

#preload_xml {
text-align: center;
margin-bottom: 100px;
}

.center {
padding: 10px;
float: left;
width: 320px;
font-size: .9em;
}

.fb {
float: right;
}

.posted {
color: #979797;
font-size: .8em;
line-height: .9em;
}

.news {
font-size: .9em;
margin-right: 5px;
}

.tweets li, .news li {
margin-bottom: 5px;
font-size:.9em;
line-height: 1.3em;
overflow: hidden;
}

.tweets li a {
padding-left:3px;
color: black;
text-decoration: none;
}

.tweets li a:hover {
text-decoration: underline;
}

.center h4, .news h4 {
font-size: 1.1em;
font-weight: bold;
margin-bottom: 10px;
margin-top: 0px;
}

.center h4 {
margin-top: 20px;
margin-left: 10px;
}

.tweets {
margin-left: 10px;
margin-top: 10px;
}

.news a {
color: black;
text-decoration: none;
}

.news a:hover {
text-decoration: underline;
}

.hide {
display: none;
}

.center img {
margin-bottom: 5px;
}

.tweetdisplay {
margin-top: -10px;
padding: 10px;
border-color: #a3a3a3;
border-style: solid;
border-width: 2px;
background-color: #d7d7d7;
font-size: 1.2em;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
}

.tweetdisplay a {
color: black;
text-decoration: none;
}

.tweetdisplay a:hover {
text-decoration: underline;
}

.tweetid {
font-weight: bold;
font-size: 1em;
}

.odd {
	padding: 4px;
	background-color: #ededed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


#allclick, #hide {
display: none;
}

#footer {
margin-top: 35px;
font-size: 1em;
margin-bottom: 35px;
}

#fbcheck, {
display: none;
}

.beta {
font-size: .5em;
font-weight: normal;
margin-left: 10px;
font-variant: small-caps;
}

#null-tweets:after {
text-align: center;
padding: 3px;
color: white;
background-color: #762c0f;
content: "This candidate has no Twitter account.";
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-size: .9em;
padding-right: 10px;
padding-left: 10px;
}

.fb p, li.tweetalert, li.newsalert {
text-align: center;
padding: 3px;
color: white;
background-color: #762c0f;
margin-top: 30px;
width: 240px;
font-size: .8em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

li.tweetalert {
margin-top: 20px;
padding-bottom: 2px;
font-size: .9em;
}

li.newsalert {
width: auto;
}

#wrapper {
width: 850px;
margin-left: 20px;
}

#ad {
margin-top: -12px;
float: right;
}

.datelist {
	margin-left: 5px;
	text-decoration: none;
	font-size: 1.2em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.datelist a {
	padding: 3px;
	color: black;
	text-decoration: none;
}

.datelist a:hover, #polling a:hover {
	background-color: #fff4c5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#deadlines h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	background-color: #454c30;
	color: white;
}

#deadlines table {
	border-collapse: collapse;
	margin: 0px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: white;
}

#deadlines body {
	margin: 0px;
	font-size: 1.4em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width: 650px;
}

#deadlines td {
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-top: 15px;
	margin: 0px;
	border-bottom-color: #adadad;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#deadlines tr {
	margin: 0px;
	display: table-row;
	}

#deadlines .date {
	margin: 0px;
	padding-right: 10px;
	width: 120px;
	font-weight: bold;
}

#deadlines table {
	margin: 0px;
	width: 650px;
}

#deadlines .last {
border-bottom: 0px;
}

.poll {
	float: right;
}

#polling {
margin-top: -35px;
font-family: Helvetica, Verdana, Arial, sans-serif;
float: right;
font-size: 0.6em;
}

#polling a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.contested {
	display: none;
	margin-top: -3px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-right: 15px;
	float: left;
	-webkit-border-radius: 5px;
	padding: 4px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: #ff7413;
	color: white;
	font-size: 0.8em;
	cursor: pointer;
}

.contested:hover {
	background-color: #815412;
}

.contested a {
	text-decoration: none;
	color: white;
}

.dashboard .contested {
width: 820px;
margin-top: 2px;
padding: 8px;
text-transform: uppercase;
border-color: #663c13;
border-style: solid;
border-width: 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
font-size: 0.9em;
text-align: center;
float: none;
margin-bottom: 10px;
}

.ballot_order {
	border-color: #747474;
	border-style: solid;
	border-width: 1px;
	margin-right: 9px;
	font-size: 1.2em;
	margin-bottom: 15px;
	padding: 8px;
	font-weight: bold;
	color: white;
	-webkit-border-radius: 8px;
	background-color: #d0d0d0;

}

.ballot_no {
	margin-top: -11px;
	float: right;
	font-size: 2em;
}